# Node / Electron
node_modules/
dist/
build/
out/
release/
win-unpacked/
*.log

# Electron binaries / Artefakte
*.exe
*.dmg
*.app
*.asar

# Misc
.env
*.local
.DS_Store
Thumbs.db

# VS Code (nur diese beiden erlauben)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
